.error {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
  }
.error h1 {
    color: #2c3e50;
  }
.error p {
    font-size: 18px;
    color: #34495e;
  }

.button-error{
    color: rgb(42, 91, 165);
    background-color: rgb(1, 1, 12);
    border-radius: 5px;
}