<div class="chat-container">
    <h3>💬 Sala de Chat</h3>
    <div class="mensajes" #scroll>
      <div *ngFor="let m of mensajes" class="mensaje-wrapper" [ngClass]="{
        'wrapper-propio': m.usuario === usuarioActual,
        'wrapper-otro': m.usuario !== usuarioActual
      }">
      <div
          class="mensaje"
          [ngClass]="{
            'mensaje-propio': m.usuario === usuarioActual,
            'mensaje-otro': m.usuario !== usuarioActual
          }"
        >
        <div class="encabezado">
          <strong>{{ m.usuario }} </strong> <span> {{ m.fecha | date: 'dd/MM/yyyy HH:mm'}}</span>
        </div>
        <div class="contenido">{{ m.mensaje }}</div>
      </div>
    </div>
  </div>
    <div class="formulario">
      <input
        [(ngModel)]="nuevoMensaje"
        type="text"
        placeholder="Escribí tu mensaje"
        (keyup.enter)="enviarMensaje()"
      />
      <button (click)="enviarMensaje()">Enviar</button>
    </div>
  </div>

  
