.hangman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
  }
  
  .figura {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; /* Ajustalo según el tamaño de tu imagen */
    width: 100%;
  }

  .boton-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffe6d4;
    color: black;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  .boton-flotante:hover {
    background-color: #ffe6d4;
  }