<body>
  <header>
    <h1>Bienvenido a la sala de juegos</h1>
    <nav>
      <div *ngIf="auth.usuarioLogueado;">
        <p>Bienvenido, {{ usuario.correo }}</p>
        <button (click)="logout()">Cerrar sesión</button>
      </div>
    </nav>
  </header>
  <main>
    <div *ngIf="auth.usuarioLogueado; else noLogueado">


      <section class="chat-container">
        <app-chat></app-chat>
      </section>
    </div>
    <ng-template #noLogueado>
      <button routerLink="/login">Login</button>
      <button routerLink="/registro">Registro</button>
    </ng-template>

    <div class="juegos">
      <app-juegos></app-juegos>
    </div>

    <div class="info">
      <button routerLink="/encuestas">Encuestas</button>
      <button routerLink="/top-resultados">Ir al top 5</button>
      <button *ngIf="esAdmin" routerLink="/encuestas-respuestas" class="btn-admin">
        Ver respuestas de encuestas
      </button>
    </div>
  </main>
  <footer> <button class="button-quien-soy" routerLink="/quien-soy">Quien soy</button></footer>
</body>