body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to bottom right, #a8e6cf, #8ab448);
  overflow: hidden;
}

header {
  flex: 0 0 auto;
  background-color: rgba(1, 1, 1, 0.9);
  padding: 0.5rem;
  text-align: center;
  //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  h1 {
    margin: 0;
    font-size: 1.8rem;
    color: #ffe6d4;
  }
}

main {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: 
    linear-gradient(#a8e6cf, #8ab448),
    url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Mountains-1412683.svg/1280px-Mountains-1412683.svg.png') 
    no-repeat center center;
  background-size: cover;

  p, li {
    margin: 0.2rem 0;
    font-size: 0.95rem;
    color: #34495e;
  }

  h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #2c3e50;
  }

  ul {
    padding: 0;
    margin: 0.3rem 0;
    list-style: none;
  }

  img {
    max-height: 120px;
    max-width: 120px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0.5rem 0;
    border: 2px solid #2c3e50;
  }
}

footer {
  flex: 0 0 auto;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 0.5rem;
  box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.3);

  button {
    background-color: #ffe6d4;
    padding: 0.5rem 1rem;
    margin-top: 0.3rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background 0.3s;

    &:hover {
      background-color: #ffd4ad;
    }
  }
}
